#black_div
  .list
    %h2 Here are your quests!
    %br
    %ol
    - @quests.each do |quest|
      .sublist
        %li
          = quest.title
          %p
            %b Category:
            =quest.category
          %p
            %b Description:
            =quest.description
          %p
            %b Acceptance status:
            =quest.userstatus
          %p
            %b Time Status:
            =quest.timestatus
          %p
            %b Experience:
            =quest.xp


