#active_but.button Your Active Quests
#all_but.button All Available Quests
#comp_but.button Your Completed Quests
#create_but.button Your Created Quests
#sort_but.button Sort Quests By XP
#create_quest_but.button Create a Quest
#edit_quest_but.button Edit A Quest


/ You should only be able to edit a quest until it's start date begins, not after.
/ Available quests should be active quests, that you haven't accepted, ordered by distance from your last checkin.
