/* line 5, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
.container {
  height: 50em;
}

/* line 9, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#slide {
  background-image: url("/assets/background_home.jpg");
  margin: 0;
  height: 61.25em;
}

/* line 15, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#sign_up_link {
  width: 15%;
  height: 4em;
  font-size: 2em;
  line-height: 4em;
  text-align: center;
  margin-left: 30%;
  margin-right: 5%;
  border: 1px solid white;
  margin-top: 12em;
  display: inline-block;
}
/* line 27, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#sign_up_link a {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
}

/* line 35, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#sign_in_link {
  width: 15%;
  font-size: 2em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin-left: 5%;
  margin-right: 25%;
  border: 1px solid white;
  margin-top: 12em;
  display: inline-block;
}
/* line 46, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#sign_in_link a {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
}

/* line 56, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#sign_in_link:hover a {
  text-decoration: underline;
}

/* line 64, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#sign_up_link:hover a {
  text-decoration: underline;
}

/* line 71, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#main {
  margin: 0;
  height: 61.25em;
}

/* line 78, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
#map {
  margin-left: 25%;
  margin-top: 5em;
  width: 50%;
  height: 30em;
}

/*----------------------------LAYOUT----------------------------------*/
/* line 88, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
body {
  margin: 0;
}

/* line 92, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
nav {
  line-height: 3em;
  background-color: #59ccf2;
  height: 3em;
}
/* line 96, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
nav a {
  margin-left: 15%;
  width: 5%;
  display: inline-block;
  font: 100% Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}
/* line 105, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
nav a:hover {
  text-decoration: underline;
}

/* line 111, /Users/michaelteter/Desktop/FirstPerson/app/assets/stylesheets/application.css.scss */
footer {
  background-color: #59ccf2;
  height: 7em;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
