#show_user_checkins.button
#show_all_quests.button
#show_active_quests.button
#show_completed_quests.button
#show_user_quests
  - @user.quests.each do |quest|
    %div{id: "quest_#{quest.id}", class: "button"}
      =quest.title