#show_user_checkins.button Checkins
#show_all_quests.button All Quests
#show_completed_quests.button Completed Quests
%br
%br
#show_active_quests.button Active Quests
#show_user_quests
  %ul
    - @user.quests.each do |quest|
      %div{id: "#{quest.id}", class: "button"}
        %li
          =quest.title