#show_user_checkins.button Checkins
#show_world_checkins.button World Checkins
#show_all_quests.button All Quests
#show_available_quests.button Available Quests
#show_completed_quests.button Completed Quests
#show_created_quests.button Created Quests
%br
%br
#show_active_quests.button Active Quests
#show_user_quests
  %ul
    -@user.user_quests.each do |user_quest|
      -unless user_quest.completed
        %div{id: "#{user_quest.quest.id}", class: "button quest"}
          %li
            =user_quest.quest.title
