%h2 Here are your rewards!

%table
  %tr
    %th
    %th Quest
    %th Description
  -@rewards.each do |reward|
    %tr
      %td
        %img(src="/assets/images/1362321480throphy.jpg")

      %td
        = reward.quest.title
      %td
        = reward.description
      
