.reward_title
  %h1 #{@quest.title} Rewards!

  %br

.rewards_xp
  %h2 For: #{@quest.xp}

  %br

.rewards_description
  %p #{@description}

.rewards_image
%img(src="/assets/images/trophy-clipart-7cagzxdcA.jpeg")