%h2 Here are your rewards!

%table
  %tr
    %th
    %th Quest
    %th Description
  -@rewards.each do |reward|
    %tr
      %td
        = image_tag "trophy-clipart-7cagzxdcA.jpeg"
      %td
        = reward.quest.title
      %td
        = reward.description
      
