/ This is very simplified for the moment. I know that we need to render the selected quest's title, XP award for completing the quest and the quest's dscription. 

.reward_title
  %h1 #{@quest.title} Rewards!
  =flash[:notice]

  %br

.reward_xp
  %h2 For: #{@quest.xp}

  %br

.reward_description
  %p #{@quest.description}
