#character_quests.button Your Completed Quests
#character_info.button User Info
#character_stats.button Stats
#character_inventory.button Inventory
#character_classes.button Classes
#character_xp.button XP breakdown
#character_rewards.button Rewards