#xp.button 
	Level XP: 
	=@user.total_xp%1000
%div{id: "info_but", class: "button psuedo_link", href: "/users/profile"} User Info
/ #stats_but.button Stats
/ #invent_but.button Inventory
/ #class_but.button Classes
#xp_but.button XP breakdown
#rewards_but.button Rewards
#board_but.button LeaderBoard
