#show_something.button Your Completed Quests
#show_something.button User Info
#show_something.button Stats
#show_something.button Inventory
#show_something.button Classes
#show_something.button XP breakdown