%div{id: "info_but", class: "button psuedo_link", href: "/users/profile"} User Info
#xp_but.button XP breakdown
#rewards_but.button Rewards
#board_but.button LeaderBoard


#board_but.button LeaderBoards
