.list
  %h2 Here is your XP Breakdown!
  %br
  %h3 Quests:
  - @quests.each do |quest|
    %h4
      =quest.title
    =quest.description
    %br
    =quest.xp
    xp
    %br

  %h3 Checkins
  - @checkins.each do |checkin|
    %h4
      =checkin.location
    %br
    =checkin.xp
    xp
    %br
