<body class='home'>
  <div id='slide'>
    <h6> Firstperson.io</h6>
      <%=link_to foursquare_path do %>
        <div id='enter_link'>
          Enter
        </div>
      <% end %>
  </div>
</body>
