#content.middle
  #map

#options.sidebar
  =notice
  =button_to "View Check Ins", root_path, { method: :get, id: "enable_checkins", class: "button" }
  =button_to "View Quests", root_path, { method: :get, id: "enable_quests", class: "button" }