%p=@api.client.user("self")[:firstName]
%p=@api.client.user("self")[:lastName]
%p=@api.client.user("self")[:gender]
%p=@api.client.user("self")[:id]
%hr
%p=@api.client.user("self")[:photo][:prefix]
%p=@api.client.user("self")[:photo][:suffix]

