/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$primary-color: #2E4272;
$secondary-color: #5E5C57;
$third-color: #D4B26A;

/*$primary-color: #FFFFFF;
$secondary-color: #FFE361;
$third-color: #D2D2D3;*/

$font-color: white;
$font-stack:  Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
}

td img {
  width: 5vw;
}

body {
  overflow: auto;
  background: rgba(0,0,0, 0.8);
}

table, th, td {
   border: 1px solid black;
}

td, th {
  padding: 1em;
}

.list{
  text-align: center;
  width:100%;
  background: rgba(0,0,0, 0.5);
  margin-top: 0;
  height: auto;
  color: white;
  overflow-y:scroll;
  display: inline-block;
}

#notification {
  display: none;
}

.create{
  background: rgba(0,0,0, 0.8);
  width: 100%;
  margin-top:0;
  height: 38em;
  display: inline-block;
  height: 36em;
  padding: 2em;
  color: white;
}


.container{
  height: 50em;
}

#slide{
  background-image: url(image_path("background_home.jpg"));
  background-size: cover;
  margin: 0;
  height: 61.25em;
}

#enter_link{
  width: 25%;
  height: 4em;
  font-size: 2em;
  line-height: 4em;
  text-align: center;
  margin-left: 38.5%;
  border: 1px solid white;
  margin-top: 18em;
  display: inline-block;
  background: rgba(0,0,0, 0.3);

    a{
      font-family:"Times New Roman", Times, serif;
      color:$font-color;
      text-decoration: none;
    }

}


#sign_in_link:hover{
  a{
      text-decoration: underline;
    }

}

#sign_up_link:hover{

   a{
      text-decoration: underline;
    }

}

iframe{
  background-color: rgba(0,0,0,0.8);
}

.accept_form{
  overflow: hidden;
  color:white;
  text-align: center;
}

.accepted {
  background-color: rgba(0,255,0,0.4);
}

.rejected {
  background-color: rgba(255,0,0,0.4);
}

#leaderboard {
  float: left;
  width: 50%;
}

#rewards {
  float: left;
  Width: 50%;
}

/*----------------------------LAYOUT----------------------------------*/


#enable_checkins {
  height: 1.25em;
  width: 10%;
  display: block;
  text-align: center;
  background-color: $primary-color;
}

#enable_quests {
  height: 1.25em;
  width: 10%;
  display: block;
  text-align: center;
  background-color: $primary-color;
}

iframe {
  border: none;
}

.button {
  width: 99%;
  padding: 0.5%;
  font-size: 1.5em;
  text-align: center;
  cursor: crosshair;
}

#content {
  float: left;
  display: block;
  width: 80%;
  overflow: auto;
}

#map {
  float: left;
  width: 100%;
  height: 48.5vw;
}

#options.sidebar {
  float: left;
  width: 20%;
  background-color: $third-color;
  padding: 0;
  height: 48.5vw;
  margin: 0;
  color: #2C3539;
  overflow: scroll;

  .button{
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
}

.button:hover {
  background-color: #3B5798;
}

nav {
  width: 100%;
  background-color: $primary-color;
  display: block;
  overflow: auto;
  color: white;
}

nav .button {
  float: left;
  width: 19%;
}

#xp {
  background-color: $secondary-color;
  color:black;
}

#show_active_quests {
  border-bottom: 2px solid black;
}

#user_image {
  float: left;
  width: 25%;
}

#user_image img {
  width: 100%;
  height: 24.8em;
}

#user_rewards {
  display: block;
  overflow: auto;
  width: 100%;
  height: 15em;
}

.reward {
  float: left;
  width: 25%;
}

.reward img {
  width: 100%;
  height: 15em;
}

#user_info {
  float: left;
  width: 75%;
  height: 25em;
}

#user_info h2 {
  margin-left: 1.75%;
  margin-top: 1%;
}


#notification {
  position: fixed;
  top: 15vw;
  left: 20vw;
  background-color: black;
  color: white;
  width: 40vw;
  height: 6em;
  text-align: center;
  padding: 2em;
  border: 3px solid black;
  border-radius: 15px;
  z-index: 100;
}

h6{
  font-size: 8em;
  color: white;
  position: absolute;
  left:30%;
  top:15vw;

}

