// Place all the styles related to the Quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quest_title{

  position: absolute;
  left:45%;
  top:0;

}

.create{
  background: rgba(0,0,0, 0.8);
  width: 25%;
  margin-top:0;
  height: 50em;
  display: inline-block;
  padding: 1em;
  color: white;
}